
h1{
    text-align: center;
    font-family:courier;
}
/*Generate Button: Styles for the generate button*/
.generateButton{
    display: block;
    margin: 20px;
    background: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    font-size: 15px;
    padding: 19px;;
    text-decoration: none; /*Remove test decoration*/
    width: 65pt;
    -webkit-border-radius: 28; /*Set border radius for WebKit browsers*/
    -moz-border-radius: 28;/*Set border radius for Mozilla browsers*/
    border-radius: 20px;/*Set border radius for other browsers*/
}

/*Generate Button: Styles for the generate button on hover*/
.generateButton::hover{
    background: gainsboro;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }