{% extends 'control/base.html' %}
{% load custom_tags %}
{% load static %}
{% block style %}
<style>
    .select2-selection__rendered {
        border: 1px solid;
        border-radius: 0.375rem;
        padding: 5px;
        border-color: #dadee3;
    }

    .select2-container--default {
        .select2-selection--single {
            border-color: #c62828;
            height: 60px;
            padding: 7.5px 0;
            border-radius: .375rem;

            .select2-selection__arrow {
                height: 58px;
            }
        }
    }

    .select2-dropdown {
        border-radius: 0;
        box-shadow: #444 0px 3px 5px;
        border: 0;
    }

    .disabled {
        background-color: #ffe4e4;
    }

    .options {
        text-align: center;
        background: rgba(148, 212, 228, 0.4);
        border: 1px solid #989898;
        box-sizing: border-box;
        border-radius: 18px;
        padding: 15px;
    }

    .labl {
        display: block;
    }

    .labl>input {
        /* HIDE RADIO */
        visibility: hidden;
        /* Makes input not-clickable */
        position: absolute;
        /* Remove input from document flow */
    }

    .labl>input+div {
        cursor: pointer;
        border: 2px solid transparent;
    }

    .labl>input:checked+div {
        background-color: #ffd6bb;
        border: 1px solid #ff6600;
    }

    .location {
        display: block;
    }

    .location>input {
        visibility: hidden;
        /* Makes input not-clickable */
        position: absolute;
    }

    .location>input:checked+div {
        background-color: #ffd6bb;
        border: 1px solid #ff6600;

    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: none;
        border: 1px solid #94d4e4;
        border-radius: 40%;
        display: inline-block;
    }

    .plates {
        padding-bottom: 10px;
    }

    .cell_culture_img {
        height: 100px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2196F3;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .custom-file::-webkit-file-upload-button {
        visibility: hidden;
    }

    .custom-file::before {
        content: 'Select file';
        display: inline-block;
        background: linear-gradient(top, #f9f9f9, #e3e3e3);
        border: 1px solid #999;
        border-radius: 3px;
        padding: 5px 8px;
        outline: none;
        white-space: nowrap;
        -webkit-user-select: none;
        cursor: pointer;
        text-shadow: 1px 1px #fff;
        font-weight: 700;
        font-size: 10pt;
    }

    .custom-file:hover::before {
        border-color: black;
    }

    .custom-file:active::before {
        background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    }

    .select2-container--default {
        .select2-selection--single {
            border-color: #fff;
            height: 60px;
            padding: 7.5px 0;
            border-radius: 0;

            .select2-selection__arrow {
                height: 58px;
            }
        }
    }

    .select2-dropdown {
        border-radius: 0;
        box-shadow: #444 0px 3px 5px;
        border: 0;
    }
</style>
{% endblock %}
{% block sidebar %}
{% include "control/sidelinks.html" with active="Projects" %}
{% endblock %}
{% block main %}
<div class="row p-2">
    <div class="col">
        <h3>Submit Training Data</h3>
    </div>
</div>
{% for message in messages %}
<div class="alert alert-success" role="alert">{{ message }}</div>
{% endfor %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-9 card p-5 shadow">
            <h3 class="mb-5">Submit Training Data</h3>
            <form method="post" enctype="multipart/form-data" onsubmit="return submitForm(event)" id="submitTrainingDataForm">
                {% csrf_token %}
                
                <div class="form-group row mb-3">
                    <label for="id_dataset_name" class="col-sm-3 col-form-label"><strong>Alpha Numeric</strong></label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="id_dataset_name" name="dataset_name" placeholder="Alpha Numeric" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="id_organ" class="col-sm-3 col-form-label"><strong>Organ</strong></label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="id_organ" name="organ" placeholder="Organ" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="id_specie" class="col-sm-3 col-form-label"><strong>Specie</strong></label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="id_specie" name="specie" placeholder="Specie" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="id_adherent_or_suspension" class="col-sm-3 col-form-label"><strong>Adherent or Suspension</strong></label>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="id_adherent_or_suspension" name="adherent_or_suspension" placeholder="Adherent or Suspension" required>
                    </div>
                </div>

                <div class="form-group row mb-3">
                    <label for="id_training_images" class="col-sm-3 col-form-label"><strong>Choose File</strong></label>
                    <div class="col-sm">
                        <input type="file" class="form-control" id="id_training_images" name="training_images" multiple accept="image/*" required>
                        <small class="form-text">Upload at least 10 training frames.</small>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    async function submitForm(event) {
        event.preventDefault();

        const form = document.getElementById('submitTrainingDataForm');
        const formData = new FormData(form);
        const trainingImages = document.getElementById('id_training_images');
        const files = trainingImages.files;

        if (files.length < 10) {
            alert("You need at least 10 images for training");
            return false;
        }

        for (let i = 0; i < files.length; i++) {
            if (!files[i].type.startsWith('image/')) {
                alert("All files must be images");
                return false;
            }
        }

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
            });

            if (response.ok) {
                window.location.href = "{% url 'add_plate' %}";
            } else {
                alert("Failed to submit training data");
            }
        } catch (error) {
            console.error("Error submitting form: ", error);
            alert("An error occurred while submitting the form.");
        }
    }
</script>
{% endblock %}

